{% extends "base.html" %}
{% block title %}Multiplayer Games{%endblock%}
{% block top %}Here are some 2 player combinatorial games{%endblock%}

{% block main %}
<div id="games" style="float:left;min-width:10em;">
Start a game of:
<ul>
{%for gpath,gname,AIS in game_list%}
<li>{{gname}} against
<ul>
{%for ai,ainame in AIS%}
<div class="b"><a onclick='start("/{{gpath}}/new?opp=a{{ai}}&player={{playerid}}")'><li>{{ainame}}</li></a></div>
{%endfor%}
<div class="b"><a onclick='start("/{{gpath}}/new?opp=r&player={{playerid}}")'><li>next or previous person to press this button</li></a></div>
<div class="b"><a onclick='start("/{{gpath}}/new?opp=y&player={{playerid}}")'><li>someone you can send a url to</li></a></div>
</ul></li>
{%endfor%}
</ul>
</div>
{%endblock%}


{% block side %}
This site lets you play some 2-player games against people at other machines. For some of them there is an AI you can try and beat.<br>
{%endblock%}

{%block scripts%}
{{super()}}
<script>
function start(url) {
  $.post(url,
  function(m){
    location.assign(m);
  });
}
</script>
{%endblock%}
