{% extends "base.html" %}
{% block title %}Multiplayer Games{%endblock%}
{% block top %}Here are some multiplayer games{%endblock%}

{% block main %}
{%if name is defined%}
    <div id="players" style="float:left;width:12em;padding-right:1em">
        <strong>Players</strong><br>
        <ul style="list-style-type:none;padding-left:0;margin-top:0.5em">
        {% for player in players %}
        <li>{{player.playername}} ({{player.score}})</li>
        {%endfor%}
        </ul>
    </div>
    <div id="games" style="float:left;min-width:12em;width:calc(100% - 13em)">
        <strong>Games</strong><br>
        {% if not games %}
            you are not currently playing any games<br>
        {% endif %}
        {% for game in games %}
        <a href="{{game.url}}"><span class="{{'pl' if not game.pl else 'op'}}{{' turn' if not game.turn else ''}}" >{{game[0]}}</span> vs <span class="{{'pl' if game.pl else 'op'}}{{' turn' if game.turn else ''}}" >{{game[1]}}</span></a><br>
        {%endfor%}
        <br>
        your nickname: <input type="text" id="name" value="{{name}}" style="width:6em"></input> 
        <input type="button" onclick="send();" value="change name"></input><br>
		May only contain lower case letters and must be shorter than 20 characters.
        <br><br>
{%else%}
<div id="games" style="float:left;min-width:10em;">
You are not currently logged in, log in with a google account to keep track of your games<br>
<a href="{{loginurl}}">login</a> with an OpenID accout to keep track of your games <br>
{%endif%}
start a game of:
<ul>
{%for path,name in game_list%}
<li><a href="/{{path}}/">{{name}}</a></li>
{%endfor%}
</ul>
</div>
{%endblock%}


{% block side %}
This site lets you play some 2-player games against people at other machines. For some of them there is an AI you can try and beat.<br>
{%endblock%}

{% block styles %}
{{super()}}
<style type="text/css">
span.turn{}
</style>
{% endblock %}

{%block scripts%}
{{super()}}
<script>
function send() {
  $.post('/changename',{name:$("#name").val()});
}
</script>
{%endblock%}
