<!DOCTYPE html>
<html>
<head>

<style type="text/css">
table.main
{
}
.main>tr>td
{
margin: 0;
padding: 0;
}

table.sub
{
border-width: 0 0 2px 2px;
border-spacing: 0;
border-color: black;
border-style: solid;
}
.sub td
{
width: 22px;
height: 22px;
border-width: 2px 2px 0 0;
border-style: solid;
border-color: black;
}

p.in-cell
{
text-align: center;
margin: 0 0 0 0;
}

td.won
{
background-color: red;
}
</style>

<title>3DOX</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>

<script type="text/javascript" src="/staticfiles/channel.js"></script>
<script type="text/javascript" src="/staticfiles/inGame.js"></script>

<link rel="stylesheet" type="text/css" href="/staticfiles/styles.css">

<script>
var gameID='{{gameID}}';

function show(data){
  for(z=0;z<4;z++){
    for(y=0;y<4;y++){
      for(x=0;x<4;x++){
        $("#p"+x+y+z).text(data.board[z*16+y*4+x]);
        $("#t"+x+y+z).removeClass("won");
        }
      }
    }
  for (i in data.wonlines){
    line=data.wonlines[i]
    for(j=0;j<4;j++){
      $("#t"+line[j][0]+line[j][1]+line[j][2]).addClass("won");
      }
    }
  }

</script>
</head>


<body>
<div id="top">
Welcome to my webpage where you can play 3D noughts and crosses
</div>
<div id="main">
  
  <div id="game">
    <table class='main'>
    {% for z in range(4) %}
      <tr><td><table class='sub'>
      {% for y in range(4) %}
        <tr>
        {% for x in range(4) %}
          <td id={{ "t"~x~y~z }}><p id={{ "p"~x~y~z }} class=in-cell>{{board[z*16+y*4+x]}}</p></td>
        {% endfor %}
        </tr>
      {% endfor %}
      </table></td></tr>
    {% endfor %}
    </table>
  </div>
</div>

<div id="side">
The cells represent 4 layers in a 4*4*4 cube. To win get four cells that form a line in the cube.<br>
Click on a cell to make your move there.
</div>

<div id="links">
  <a href="?pageType=canvas&gameID={{gameID}}">canvas</a><br>
  <a href="?pageType=threeD&gameID={{gameID}}">perspective version</a><br>
  <a href="user">main page</a>
</div>

<script>
show(JSON.parse('{{data}}'));
setup('{{ chtoken }}');

$(".sub td").click(function(){
  click($(this).attr("id").substr(1));
  });
</script>

</body>
</html>
