<!DOCTYPE html>
<html>
<head>

<style type="text/css">
table.main
{
}
.main>tr>td
{
margin: 0;
padding: 0;
}

table.sub
{
border-width: 0 0 2px 2px;
border-spacing: 0;
border-color: black;
border-style: solid;
}
.sub td
{
width: 20px;
height: 20px;
border-width: 2px 2px 0 0;
border-style: solid;
border-color: black;
}

p.in-cell
{
text-align: center;
margin: 0 0 0 0;
}

td.won
{
background-color: red;
}
</style>

<title>3DOX</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>

<script>
var viewerID={{viewerID}};
var gameID={{gameID}};

function postMsg(data){$("#error").val(data.error);}

function show(data){
  for(z=0;z<4;z++){
    for(y=0;y<4;y++){
      for(x=0;x<4;x++){
        $("#p"+x+y+z).text(data.board[z*16+y*4+x]);
        $("#t"+x+y+z).removeClass("won");
        }
      }
    }
  for (i in data.wonlines){
    line=data.wonlines[i]
    for(j=0;j<4;j++){
      $("#t"+line[j][0]+line[j][1]+line[j][2]).addClass("won");
      }
    }
  }

$.ajaxSetup({cache:false});
</script>

<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div id="top">
Welcome to my webpage where you can play 3D noughts and crosses
</div>
<div id="main">
  <div id="controls">
    <input type="text" id="player" value="X"></input>
    <input type="button" onclick="$.post('clr',{'gameID':gameID});"></input>
    <input type="text" id="error" value="" disabled="disabled"></input>
  </div>
  
  <div id="game">
    <table class='main'>
    {% for z in range(4) %}
      <tr><td><table class='sub'>
      {% for y in range(4) %}
        <tr>
        {% for x in range(4) %}
          <td id={{ "t"~x~y~z }} class=won ><p id={{ "p"~x~y~z }} class=in-cell>{{board[z*16+y*4+x]}}</p></td>
        {% endfor %}
        </tr>
      {% endfor %}
      </table></td></tr>
    {% endfor %}
    </table>
  </div>
  
  <div id="links">
    <a href="?pageType=canvas&gameID={{gameID}}&viewerID={{viewerID}}">canvas</a>
  </div>
</div>

<div id="side">
The cells represent 4 layers in a 4*4*4 cube. To win get four cells that form a line in the cube.<br>
Click on a cell to make your move there.<br>
<br>
At the moment this is a very early version so you can change your counter by replacing the "X" in the text box with an "O", and reset the board by pressing the button next to it.
</div>

<script>
//functions independent of IO
function click(pos,player){
  $.post('post?pos='+pos+'&gameID='+gameID+'&player='+player,
  postMsg,'json')
  }


//set up channel
channel = new goog.appengine.Channel('{{ chtoken }}');
socket = channel.open();
socket.onmessage = function(m){show(JSON.parse(m.data));};
socket.onopen = function(){$.post('add',{'gameID':gameID,'viewerID':viewerID});};
/*socket.onerror = onError;
socket.onclose = onClose;*/

//end of functions independent of IO

$(".sub td").click(function(){
  var player=$("#player").val()
  if (player=="X" || player=="O"){
    click($(this).attr("id").substr(1),player)
    }
  });
$("#error").val("none")
</script>

</body>
</html>
