<!DOCTYPE html>
<html>

<head>
<title>3DOX</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript" src="/staticfiles/channel.js"></script>

<script>$.ajaxSetup({cache:false});</script>

<link rel="stylesheet" type="text/css" href="/staticfiles/styles.css">
</head>


<body>
<div id="top" style="position:relative;">
<span>Hello {{name}}</span>
<span style="position:absolute;right:5px;top:5px;">({{score}})</span>
</div>

<div id="players" style="float:left;width:20%;min-width:6em;">
<strong>Players</strong><br>
  {% for player in players %}
    <a href="/newGame?player={{player.id}}">{{player.name}}</a> ({{player.score}})<br>
  {%endfor%}
</div>
  
<div id="main" style="width:45%;min-width:12em">
<strong>Games</strong><br>
  {% if not games %}
    you are not currently playing any games<br>
  {% endif %}
  {% for game in games %}
    <a href="/game?gameID={{game.id}}">{{game.X}} vs {{game.O}}</a><br>
  {%endfor%}
  <br>
<input type="text" id="name" value="{{name}}" style="width:6em"></input> 
<input type="button" onclick="send();" value="change name"></input>
</div>

<div id="side">
From this page, you can start games with other players and see games you are currently playing
</div>

<div id="links">
  <a href="{{logouturl}}">logout</a>
</div>

<script>
function send() {$.post('changeName',{name:$('#name').val()});}

setup("{{chtoken}}");
</script>

</body>

</html>
