body {background-color:#FFFFFF;
	font-family:calibri,sans-serif;}

#top {background-color:lightblue;
	font-size:20pt;
	font-family:"Bell MT",serif;
	padding:5px;}

#main {float:left;width:65%;
	min-width:15em;
	padding:25px;}

.side{width:30%;
	min-width:7em;
	float:right;
	text-align:right;}

#messages{overflow-y: auto;
	height:200px;
	border:2px solid black;
	padding:2px;}

#side {background-color:#c0302d;
	color:white;
	width:30%;
	min-width:7em;
	padding:1px 5px 5px 5px;
	float:right;
	text-align:right;}

#links {width:30%;
	min-width:7em;
	padding:20px 5px 5px 5px;
	float:right;
	text-align:right;}
