<!DOCTYPE html>
<html>

<head>
<title>3DOX: welcome</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript" src="/staticfiles/channel.js"></script>

<script>$.ajaxSetup({cache:false});</script>

<link rel="stylesheet" type="text/css" href="/staticfiles/styles.css">
</head>


<body>
<div id="top" style="position:relative;">
<span>Hello {{name}}</span>
<span style="position:absolute;right:13px;top:13px;">({{score}})</span>
</div>


<div id="main">
    <div id="players" style="float:left;width:6em;padding-right:25px">
        <strong>Players</strong><br>
        {% for player in players %}
        <a href="/3DOX/newGame?player={{player.id}}">{{player.name}}</a> ({{player.score}})<br>
        {%endfor%}
    </div>
    <div id="games" style="float:left;width:10em">
        <strong>Games</strong><br>
        {% if not games %}
            you are not currently playing any games<br>
        {% endif %}
        {% for game in games %}
            <a href="/3DOX/game?gameID={{game.id}}">{{game.X}} vs {{game.O}}</a><br>
        {%endfor%}
        <br>
        <input type="text" id="name" value="{{name}}" style="width:6em"></input> 
        <input type="button" onclick="send();" value="change name"></input>
    </div>
</div>

<div class="side">
    <div id="side">
    From this page, you can start games with other players and see games you are currently playing
    </div>

    <div id="links">
        <a href="{{logouturl}}">logout</a><br>
        <a href="/3DOX/highscores">highscores</a><br><br>
        <a href="/3DOX/aiGame">Start a single player game against the server</a>
    </div>
</div>


<script>
function send() {$.post('3DOX/changeName',{name:$('#name').val()});}

setup("{{chtoken}}");
</script>

</body>

</html>
