{% extends "game.html" %}

{% block title %}3DOX - play{%endblock%}
{% block top %}Play 3D noughts and crosses{%endblock%}

{% block side %}
You must turn each turn, and not hit anything or go off the edge<br>
Use arrow keys or tap or click the appropriate edge
{%endblock%}


{%block scripts%}
{{super()}}
<script>
SIZE=16
String.prototype.lpad = function(padString, length) {
  var str = this;
  while (str.length < length)
    str = padString + str;
  return str;
}

function col(r,g,b){
  return "#"+(b+g*256+r*256*256).toString(16).lpad("0",6)}


var sz=20//gap between verticies
var SIZE=16//15*15 verticies
var gameID='{{gameID}}';

function show(data){
  var c=document.getElementById("myCanvas");
  var ctx=c.getContext("2d");
  
  ctx.beginPath()
  ctx.fillStyle="black"
  for(x=1;x<SIZE;x++){
    for(y=1;y<SIZE;y++){
      ctx.beginPath()
      ctx.arc(sz*x,sz*y,2.3,0,Math.PI*2);
      ctx.fill()
    }
  }

  ctx.lineWidth=4
  var p0=data.p0
  var p1=data.p1
  
  ctx.beginPath()
  var x=sz*SIZE/2
  var y=x
  ctx.moveTo(x,y)
  ctx.strokeStyle="blue"
  for(a=0;a<p0.length;a++){
    switch(p0[a]){
      case "U": y-=sz;break
      case "D": y+=sz;break
      case "L": x-=sz;break
      case "R": x+=sz;break
    }
    ctx.lineTo(x,y)
  }
  ctx.stroke()
  
  ctx.beginPath()
  x=sz*SIZE/2
  y=x
  ctx.moveTo(x,y)
  ctx.strokeStyle="red"
  for(a=0;a<p1.length;a++){
    switch(p1[a]){
      case "U": y-=sz;break
      case "D": y+=sz;break
      case "L": x-=sz;break
      case "R": x+=sz;break
    }
    ctx.lineTo(x,y)
  }
  ctx.stroke()
  
  var p=[p0,p1][player]
  dir=perpendicular[p[p.length-1]]
}

function drawX(ctx,x,y,z){
  ctx.beginPath();
  ctx.strokeStyle="blue"
  ctx.moveTo(x*sz+2,y*sz+z*sz*4+2);
  ctx.lineTo(x*sz+sz-2,y*sz+z*sz*4+sz-2);
  ctx.moveTo(x*sz+2,y*sz+z*sz*4+sz-2);
  ctx.lineTo(x*sz+sz-2,y*sz+z*sz*4+2);
  ctx.stroke();
  }

function drawO(ctx,x,y,z){
  ctx.beginPath();
  ctx.strokeStyle="red"
  ctx.arc((x+0.5)*sz,(y+0.5+4*z)*sz,sz/2-2,0 , 2 * Math.PI, false);
  ctx.stroke();
}

</script>

{%endblock%}

  
{%block game%}
<canvas id="myCanvas" width=320 height=320>
    your browser does not support this feature
</canvas>
    
<script>

var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");

ctx.fillStyle="black"
for(x=1;x<SIZE;x++){
    for(y=1;y<SIZE;y++){
        ctx.beginPath()
        ctx.arc(sz*x,sz*y,2.3,0,Math.PI*2);
        ctx.fill()
    }
}
    

function kdown(e){
    $("#abox").hide()
    k=e.keyCode-37
    //This should just be arrow keys
    if(k>=0 && k<4){
        click(["L","U","R","D"][k])
    }
}

$(document).keydown(kdown)

function eventX(e)
  {return e.pageX-c.offsetLeft;}
function eventY(e)
  {return e.pageY-c.offsetTop;}

function onclick(e){
  var x=eventX(e)
  var y=eventY(e)
  if(dir=="UD"){
    if(y<c.height/3)click("U")
    if(y>c.height*2/3)click("D")
  }
  if(dir=="LR"){
    if(x<c.width/3)click("L")
    if(x>c.width*2/3)click("R")
  }
}
perpendicular={"U":"LR", "D":"LR", "L":"UD", "R":"UD"}

c.addEventListener("click",onclick)
/*Canvas.addEventListener("mouseup",mouseup)
Canvas.addEventListener("mousemove",mousemove)

Canvas.addEventListener("touchstart",touchdown)
Canvas.addEventListener("touchend",touchup)
Canvas.addEventListener("touchmove",touchmove)*/


</script>
    
{%endblock%}
